asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.6
Django==4.2.2
docopt==0.6.2
filelock==3.12.2
idna==3.4
Pillow==10.0.0
pipreqs==0.4.13
platformdirs==3.8.0
psycopg==3.1.9
razorpay==1.4.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
virtualenv==20.23.1
yarg==0.1.9
