{% extends 'admin/admin_base.html' %}
{% load crispy_forms_tags %} <!-- loading the crispy forms -->
{% load static %}
{% block title %}dashboard-brand{% endblock %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <div class="search-field d-none d-xl-block">
                {% if messages %}
                {% for message in messages %}
                <div id="messages" class="alert alert-dismissible">
                    <style>
                        /* Increase the font size and width of the toaster */
                        .jq-toast-wrap {
                            font-size: 25px;
                            /* Adjust the font size as needed */
                            width: 500px;
                            /* Adjust the width as needed */
                        }
                    </style>
                    <script>
                        $.toast({
                            heading: '{{ message.tags }}',
                            text: '{{ message }}',
                            icon: '{{ message.tags }}',
                            loader: true,
                            loaderBg: '#f96868',
                            position: 'top-center',
                            hideAfter: 5000,
                            stack: 6
                        });
                    </script>
                </div>
                {% endfor %}
                {% endif %}
                <!-- <form class="d-flex align-items-center h-100" action="#" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" name="name" class="form-control bg-transparent border-0"
                            placeholder="Search products">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-right: .5vw;"
                            style="border-radius: 0;">Search</button>
                    </div>
                    <div>
                        <button class="btn btn-danger" style="border-radius: 0;"
                            href="{% url 'admin_product'}">X</button>
                    </div>
                </form> -->
            </div>
            <h3 class="page-title"> Brands </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li><button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"
                            style="border-radius: 0;">Add
                            new Brand</button></li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="card-title">Striped Table</h4> -->
                        <!-- <p class="card-description"> Add class <code>.table-striped</code> -->
                        <!-- </p> -->
                        <div class="table-responsive">
                            <table class="table table-striped" id="sortTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> name </th>
                                        <th> Available </th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if brands %}

                                    {% for i in brands %}
                                    <tr>
                                        <td><img style="width: 3rem;height: 3rem;" src="{{i.image.url}}" alt="dsf"></td>
                                        <td>{{i.name}}</td>
                                        {% if i.active %}
                                        <td>Active</td>
                                        {% endif %}
                                        <td><button class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop-{{i.id}}">Edit</button></td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal   add brand -------------------------->

            <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Add Brand</h5>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'admin_add_brand' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputName1">Name of Brand</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="name"
                                        placeholder="Name of brand" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Cover image of Brand</label>
                                    <input type="file" class="form-control" id="exampleInputName1" name="image"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Description</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="description"
                                        placeholder="Description" required>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="border-radius: 0;" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" style="border-radius: 0;" class="btn btn-danger">Create</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>


            <!----- modal edit brand ------>
            {% if brands %}

            {% for i in brands %}

            <div class="modal fade" id="staticBackdrop-{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'admin_update_brand' i.id %}" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputName1">Name of Brand</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="name"
                                        value="{{i.name}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Cover image of Brand</label>
                                    <img src="{{ i.image.url }}" alt="Existing Image" class="img-thumbnail"
                                        style="max-width: 100px;">
                                    <input type="file" class="form-control" id="exampleInputName1" name="image">
                                    <input type="file" name="existing_image" value="{{ i.image.url }}" hidden>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputName1">Description</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="description"
                                        value="{{i.description}}" required>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="border-radius: 0;" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" style="border-radius: 0;" class="btn btn-danger">Save</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}


        {% endblock %}