{% extends 'user/base.html' %}
{% load static %}
{% block title %}Shop{% endblock %}
{% block content%}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- search bar -->
<form action="{% url 'product_search' %}" method="get">
    <div class="input-group d-flex justify-content-end p-4">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" name="search" style="width: 20rem;height: 3rem;"
                placeholder="search products">
            <!-- <label class="form-label" for="form1">Search</label> -->
        </div>
        <button type="submit" class="btn btn-primary" style="height: 3rem;">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>
<!-- search bar end -->

<!-- Shop Section Begin -->
<section class="shop spad ml-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__categories">
                        <div class="section-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="categories__accordion">
                            <div class="" id="">

                                {% if categories %}   
                                {% for category in categories %}
                                <div class="card">
                                    <div class="">
                                        <a href="{% url 'shop_by_category' category.id %}"
                                            style="color: black;font-weight: 700;">{{category.name}}</a>
                                    </div>

                                </div>
                                {% endfor %}
                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="mb-2">
                        <h4>Shop by price</h4>
                    </div>

                    <form action="{% url 'product_filter_by_price' %}" method="get">
                        <div class=" mt-2">
                            <div class="range-slider">
                                <div class="price-input d-flex flex-column">
                                    <div class="form-group mb-2">
                                        <input type="text" id="" class="form-control col-6" placeholder="Min Price"
                                            name="min">
                                    </div>
                                    <div class="form-group mb-2">
                                        <input type="text" id="" class="form-control col-6" placeholder="Max Price"
                                            name="max">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="filter-button" class="btn btn-danger"
                                        style="border-radius: 0;">Filter</button>
                                </div>
                            </div>
                        </div>
                        {% if minimum and maximum %}
                        <h6>Filtered range&nbsp;:&nbsp;₹&nbsp;{{minimum}}&nbsp;-&nbsp;₹&nbsp;{{maximum}}</h6>
                        {% else %}
                        <div class=" d-flex gap-2">
                            <span style="font-size: 1.5rem;font-weight: 500;
                                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Sort
                                by price&nbsp;:</span>
                            <div class="">
                                <a href="{% url 'ascending_sort' %}"><i class="bi bi-sort-up h3"></i></a>
                            </div>
                            <div class="">
                                <a href="{% url 'descending_sort' %}"><i class="bi bi-sort-down h3"></i></a>
                            </div>
                        </div>

                        {% endif %}
                    </form>

                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">

                    {% if messages %}
                    {% for message in messages %}
                    <div style="color: rgb(85, 156, 223);" class="mb-3">
                        {{ message }}&nbsp;&nbsp;{{ category }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if product_count %}
                    <div class="col-md-12">
                        <h6 style="color: darkgray;">you have searched for&nbsp;&nbsp;:&nbsp;&nbsp;{{ search }}</h6>
                        <h6>{{ product_count }} items found</h6>
                        <hr class="">
                    </div>
                    {% elif product_count == 0 %}
                    <div class="col-md-12">
                        <img src="{% static 'user/img/no-product-found.png' %}" alt="img">
                    </div>

                    {% elif not product %}
                    <div class="col-md-12">
                        <img src="{% static 'user/img/no-product-found.png' %}" alt="img">
                    </div>
                    {% endif %}

                    {% if product %}
                    {% for i in product %}
                    <div class="col-lg-4 col-md-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="{{i.image.url}}">
                                <!-- <div class="label new">New</div> -->
                                <ul class="product__hover">
                                    <li><a href="{{i.image.url}}" class="image-popup"><span
                                                class="arrow_expand"></span></a>
                                    </li>
                                    <li><a href="{% url 'add_wishlist' i.id %}"><span class="icon_heart_alt"></span></a>
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'add_cart' i.id  %}"><span class="icon_cart_alt"></span></a>
                                    </li>
                                    {% else %}
                                    <li><a href="{% url 'signin' %}"><span class="icon_cart_alt"></span></a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{% url 'product_detail' i.id %}">{{i.name}}</a></h6>
                                <!-- <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div> -->
                                <div class="product__price"><span style="color: red !important;"
                                        class="text-muted">₹&nbsp;{{i.original_price}}</span>
                                </div>
                                <div style=" font-size: large;color: green;" class="product__price">
                                    ₹&nbsp;{{i.selling_price}}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="col-lg-12 ">
                        <div class="pagination__option">
                            {% if product.paginator.num_pages > 1 %}
                            <!-- previous button -->
                            <div class="text-center">
                                <!-- <a href="#"><i class="fa fa-angle-left"></i></a> -->
                                {% if product.has_previous %}
                                <a href="?page={{ product.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
                                {% else %}
                                <span class="disabled"><i class="fa fa-angle-left"></i></span>
                                {% endif %}

                                {% for pg in product.paginator.page_range %}
                                <a href="?page={{pg}}" class="btn btn-light  {% if product.number == pg %}
                                    active {% endif %}">{{pg}}</a>
                                {% endfor %}
                                <!-- <a href="#"><i class="fa fa-angle-right"></i></a> -->
                                {% if product.has_next %}
                                <a href="?page={{ product.next_page_number }}"><i class="fa fa-angle-right"></i></a>
                                {% else %}
                                <span class="disabled"><i class="fa fa-angle-right"></i></span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
{% endblock %}