{% extends 'user/base.html' %}
{% load static %}
{% block title%}About{% endblock %}

{% block content %}
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1>TIME HORIZON</h1>
                <p>
                    Welcome to Your Watch Company, your ultimate destination for high-quality watches. Established in
                    [Year], we
                    are passionate about delivering the best timepieces to watch enthusiasts worldwide.
                </p>
                <p>
                    Our mission is to provide you with a curated collection of watches that combine elegance, precision,
                    and
                    affordability. We believe that a watch is more than just a time-telling device; it's an expression
                    of your
                    style and personality.
                </p>
                <h2>Our Team</h2>
                <p>
                    Meet the dedicated team behind Your Watch Company. Our experts in horology and fashion continually
                    seek out
                    the latest trends and designs to bring you the finest selection of watches.
                </p>
                <ul>
                    <li>Usman - Founder and CEO</li>
                    <li>Salman - Head of Design</li>
                    <li>Moytheen - Watch Specialist</li>
                </ul>
                <h2>Our Values</h2>
                <p>
                    At Your Watch Company, our core values drive everything we do:
                </p>
                <ul>
                    <li>Quality: We only offer watches from reputable brands known for their craftsmanship.</li>
                    <li>Customer Satisfaction: Your happiness is our top priority, and we provide exceptional customer
                        service.
                    </li>
                    <li>Innovation: We stay up to date with the latest watch technology and design trends.</li>
                </ul>
                <h2>Contact Us</h2>
                <p>
                    If you have any questions or inquiries, please don't hesitate to contact us We'd
                    love to hear from you.
                </p>
            </div>
        </div>

    </div>
</section>
</main>
<style>
    h1 {
        color: goldenrod;
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        color: goldenrod;
        font-size: 24px;
    }
</style>
{% endblock %}