{% extends 'user/base.html' %}
{% load static %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'home'  %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> Edit Profile</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <div class="card mb-4">
                    <form action="{% url 'update_profile'  %}" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">First Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="text-muted mb-0" value="{{user.first_name}}" style="width: 400px;"
                                        name="first_name" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Last Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="text-muted mb-0" value="{{user.last_name}}" style="width: 400px;"
                                        name="last_name" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Mobile</p>
                                </div>
                                <div class="col-sm-9">
                                    <input class="text-muted" value="{{user.mobile}}" name="mobile">
                                </div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a href="{% url 'profile'  %}"><button type="button"
                                        class="site-btn">Cancel</button></a>
                                <button type="submit" class="site-btn">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
{% endblock %}